
* {
  font-family: "Raleway", "Sans serif";
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  display: grid;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}

.logoReservia {
  grid-area: logo;
  padding: 0 2rem;
  height: 2.813rem;
}
.menu {
  display: flex;
  align-items: center;
  grid-area: navbar;
}
.menu_options {
  padding: 2rem;
  font-weight: 500;
  text-align: center;
  border-top: 3px transparent solid;
  border-bottom: 3px transparent solid;
}
.menu_options {
  color: #0065fc;
}
.menu_options_inscription {
  display: flex;
  align-items: center;
  grid-area: button;
  padding: 2rem;
  color: #0065fc;
  font-weight: bold;
}

@media screen and (min-width: 601px) {
  .header {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo . navbar button";
  }

  .menu_options:hover {
    border-top: 3px solid #0065fc;
  }
}
@media screen and (max-width: 600px) {
  .header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . button" "navbar navbar navbar";
  }
  .logoReservia {
    order: 0;
  }
  .menu_options_inscription {
    order: 1;
  }
  .menu {
    order: 2;
  }
  .menu_options {
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
    width: 50%;
  }

  /*BUSCAR PK ESTA OPCION*/
  .menu_options[data-active="true"] {
    border-bottom-color: #0065fc;
  }
  .menu_options:hover {
    border-bottom-color: #0065fc;
  }
}
.page_bloc {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
  overflow: hidden;
}
/*TITRE ET SUBTRITE PRINCIPAL*/
.titre_head {
  margin-bottom: 0.5rem;
}

/*BOUTON DE RECHERCHE*/
.bande_recherche {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
  margin-top: 20px;
  font-size: 20px;
}
.icon_recherche_geolocalisation {
  background-color: #f2f2f2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}
.icon_recherche_geolocalisation i {
  margin-left: 0.1rem;
}
.box_recherche {
  border: #f2f2f2 1px solid;
  padding-left: 20px;
  box-sizing: border-box;
  width: 14rem;
  font-weight: bold;
  font-size: 1rem;
}
.box_recherche::placeholder {
  font-size: 1rem;
  color: #00000069;
}
.bottom_blue {
  background-color: #0065fc;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 0 1rem 1rem 0;
  padding: 0 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}
.bottom_blue:hover {
  background-color: #0053d0;
}

/*BANDE DE FILTRES*/
.container_principal_filtre {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.filtre_titre {
  margin: 0 2rem 1rem 0;
  display: flex;
  align-items: center;
}
.container_icones_filtre {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  border: 2px solid #d9d9d9;
  border-radius: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font-weight: bold;
}
.container_icones_filtre:hover {
  background-color: #f3f8ff;
  transform: scale(1.05);
}

.filtres_de_recherche_icon {
  background-color: #deebff;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: -2px; */
  color: #0065fc;
}

/*TEXTE INFORMATION*/

.texte_filters {
  margin: 20px;
}
.bande_info_dispo {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

.icon_info {
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  color: #0065fc;
}

@media screen and (max-width: 600px) {
  .bande_recherche {
    display: flex;
    width: 100%;
  }
  .box_recherche {
    flex: 1;
  }
  /*icon lupe responsive*/
  .bottom_blue_texte {
    display: none;
  }
  .bottom_blue i {
    display: block;
  }
}
@media screen and (min-width: 601px) {
  .bottom_blue_texte {
    display: block;
  }
  .bottom_blue i {
    display: none !important;
  }
}
/*title filtre 100% width*/
@media screen and (max-width: 650px) {
  .filtre_titre {
    width: 100%;
  }
  .container_icones_filtre {
    margin-right: 1rem;
  }
}

/*card container de hebergement et aside*/

.hostingPopular,
.hostingMain {
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  padding: 2rem;
}

.hosting {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: 6fr 3fr;
}
.hostingMain {
  display: grid;
  column-gap: 2rem;
  row-gap: 2rem;
}
.container_titre_herbergement {
  grid-column: 1/-1;
}

.hostingMainCard {
  background-color: rgb(255, 255, 255);
  padding: 0.3165rem;
  border-radius: 20px 15px 20px 15px;
  box-shadow: 0 0 16px #0000002e;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
}
.hostingMainCard:hover {
  transform: scale(1.02);
}

.hebergement_img {
  height: 7rem;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  border-radius: 1rem 1rem 0 0;
}
.nom_de_chambre {
  margin: 0.25rem 0.75rem 0 0.75rem;
}
.nuit_texte_bannniere {
  margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.stars_icon {
  margin: 0 0.75rem 0.25rem 0.75rem;
  margin-top: 30px;
}
.stars_icon i {
  color: #0065fc;
}
.stars_icon .grey_stars {
  color: #c5bdbd;
}
.texte_Afficher_plus {
  font-weight: bold;
}

/*Populaire*/
.hostingPopular {
  display: grid;
  row-gap: 2rem;
  align-items: start;
  grid-template-rows: auto repeat(3, 1fr);
}
.titre_populaire {
  display: flex;
  justify-content: space-between;
}
.card_populaire {
  display: flex;
  height: 100%;
}
.conteneur_popular_img {
  position: relative;
  min-height: 100%;
  width: 33%;
  min-width: 33%;
  max-width: 33%;
}
.popular_img {
  border-radius: 1rem 0 0 1rem;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.populaire_banniere {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1372px) /*1440*/ {
  .hosting {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .hostingPopular {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 10rem;
    column-gap: 2rem;
    grid-row-start: 1;
  }
  .hostingPopularTitle {
    grid-column: 1/-1;
  }
}
@media (min-width: 925px) {
  .hostingMain {
    grid-template-columns: repeat(3, 1fr);
  }
  .hostingPopular {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 9rem);
  }
}
@media (max-width: 925px) and (min-width: 650px) {
  .hostingMain {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .hostingMain {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1200px) {
  .hostingPopular {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 9rem);
  }
}
/*ACTIVITY*/

.activity {
  display: grid;
  column-gap: 2rem;
  margin: 4rem 0;
}
.titre_activite_marseille {
  grid-column: 1/-1;
  margin-bottom: 20px;
}
.activityCard {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition-duration: 0.1s;
}
.activityCard:hover {
  transform: scale(1.01);
}
.container_activity_img {
  position: relative;
  flex: 1;
}
.activity_img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.titre_activite {
  margin: 1.2rem 1.5rem;
}

@media (min-width: 1100px) {
  .activity {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
  }
  .activityCard1 {
    grid-row: 2/7;
    grid-column: 1/2;
  }
  .activityCard2 {
    grid-column: 2/3;
    grid-row: 2/5;
  }
  .activityCard3 {
    grid-column: 3/4;
    grid-row: 2/7;
  }
  .activityCard4 {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .activityCard5 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .activityCard6 {
    grid-column: 4/5;
    grid-row: 4/7;
  }
}
@media (max-width: 1100px) {
  .activity {
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 12rem 12rem;
  }
}
@media (max-width: 925px) {
  .activity {
    row-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 12rem 12rem 12rem;
  }
}
@media (max-width: 650px) {
  .activity {
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
  }
}
/*footer*/
.footer {
  background-color: #f2f2f2;
  width: 100%;
}
.conteneur_card_footer {
  display: flex;
  max-width: 100%;
  width: 1440px;
  /* margin: auto; */
  padding: 0 2rem;
  box-sizing: border-box;
}
.card_footer {
  width: 30%;
  padding: 2rem 2rem;
}
.footer_conctact_us {
  display: block;
  margin: 1rem 0;
}
.footer_conctact_us:hover {
  color: #0065fc;
} 
@media (max-width: 750px) {
  .conteneur_card_footer {
    flex-direction: column;
    padding: 2rem;
  }
  .card_footer {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
  }
}